@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    // Font Color
    --h1-white: #D7D6D3;
    --text-white: #868481;

    // Font Weight
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --extrabold: 800;

    // Font Size
    --title-desktop: 128px;
    --title-mobile: 50px;
    --normal-mobile: 20px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--h1-white);
    font-weight: var(--regular);
    // border: 1px solid white;

    a {text-decoration: none;}
    ul {list-style: none;}
}

body {
    font-size: var(--normal-mobile);
    background-color: #101010;

    img {
        width: 100%;
    }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#logo {
  max-width: 100px; /* Adjust the logo size as needed */
  height: auto;
}

.container {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    padding: 16px;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: calc(100vh - 100%); /* Subtract the height of the navigation bar */
    background-color: transparent;
    box-sizing: border-box;

    .circle {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--h1-white);
      border: none;
      outline: none;
      cursor: pointer;
      z-index: 2;
  
      .equal-line {
        position: absolute;
        top: 42%;
        left: 26%;
        width: 25px;
        height: 2px;
        background-color: black;
        transition: transform 0.3s ease;
      }
    
      .equal-line2 {
        position: absolute;
        top: 57%;
        left: 26%;
        width: 25px;
        height: 2px;
        background-color: black;
        transition: transform 0.3s ease;
      }
    }

    .circle.active {
      .equal-line:first-child {
        transform: rotate(45deg);
        top: 50%;
      }
  
      .equal-line:last-child {
        transform: rotate(-45deg);
        top: 45%;
      }
  
      .equal-line2:first-child {
        transform: rotate(45deg);
        top: 55%;
      }
  
      .equal-line2:last-child {
        transform: rotate(-45deg);
        top: 50%;
      }
    }

    #menu {
      position: absolute;
      top: 100px;
      left: 16px;  // Adjust the left position to match the desired margin
      right: 16px;  // Adjust the right position to match the desired margin
      background-color: #151515;
      border-radius: 16px;
      box-shadow: 0 0px 100px rgb(0, 0, 0);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;

      .title {
       font-size: 16px;
       font-weight: var(--semibold);
      }

      .desc {
        font-size: 14px;
        line-height: 17px;
      }

      .navigation-links {
        margin-top: 3em;
      }

    }
    
    #menu.active {
      opacity: 1;
      visibility: visible;
    }

    .content {
      padding: 60px 50px;
      margin-bottom: 20px;

      li {
        margin-bottom: 8px;
      }
    }
  }
  
.logo img {
  width: 50px;
  margin: 16px;
}

.about, .hero h1, .previous-work, footer .description, footer .mobile-button-up, footer .desktop-button-up {
    margin: 16px;
}

.hero {
    margin: 3em 0 0;

    h1 {
        font-weight: var(--extrabold);
        font-size: var(--title-mobile);
    }

    .video-container {
        margin: 0 auto;
    
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 4/3;
        }
    }
}

.about {
    padding: 5em 1em;
    color: var(--text-white);
    font-size: 20px;
}

.previous-work {
    .projects {
        line-height: 26px;

        img {
            margin-bottom: .5em;
        }

        .description {
            color: var(--text-white);
            margin-bottom: 2em;
        }
    }
}

footer {
    .scroll p{
        font-size: 50px;
        font-weight: var(--semibold);
        margin-bottom: .5em;
    }

    .mobile-button-up {
        text-align: right;
        
        img{
            background-color: #E36A0A;
            height: 100%;
            width: 30%;
            border-radius: 100%;
            margin: 6em 0 2em;
            padding: 1em;
        }
    }

    .desktop-button-up {
        ul {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5em;
            
            a {
                font-size: 18px;
                color: var(--text-white);
            }
        }

        img {
            display: none;
        }
    }
}











.scroll {
    width: 100%;
    overflow: hidden;
    color: white;

    p {
        white-space: nowrap;
        display: inline-block;
        animation: marquee 20s linear infinite;
        width: 100%;
        text-align: left;
    }

    @keyframes marquee {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
    }
}