@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --background-black: #101010;

    // Font Color
    --h1-white: #D7D6D3;
    --text-white: #868481;

    // Font Weight
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --extrabold: 800;

    // Font Size
    --title-desktop: 128px;
    --title-tablet: 90px;
    --title-mobile: 50px;
    --normal-tablet: 30px;
    --normal-mobile: 20px;
    --contact-tablet: 100px;
    --contact-mobile: 50px;
    --showcase-information-title-tablet: 50px;
    --showcase-information-title: 30px;
    --maps-title-mobile: 60px;
    --maps-desc-mobile: 20px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--h1-white);
    font-weight: var(--regular);
    // border: 1px solid white;

    a {text-decoration: none;}
    ul {list-style: none;}
}

body {
    font-size: var(--normal-mobile);
    background-color: var(--background-black);

    img {
        width: 100%;
    }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#logo {
  max-width: 100px; /* Adjust the logo size as needed */
  height: auto;
}

.container {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: calc(100vh - 100%);
    background-color: transparent;
    box-sizing: border-box;
    z-index: 10;

    .circle {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--h1-white);
      border: none;
      outline: none;
      cursor: pointer;
      z-index: 2;
      margin: 16px;
  
      .equal-line {
        position: absolute;
        top: 42%;
        left: 26%;
        width: 25px;
        height: 2px;
        background-color: black;
        transition: transform 0.3s ease;
      }
    
      .equal-line2 {
        position: absolute;
        top: 57%;
        left: 26%;
        width: 25px;
        height: 2px;
        background-color: black;
        transition: transform 0.3s ease;
      }
    }

    .circle.active {
      .equal-line:first-child {
        transform: rotate(45deg);
        top: 50%;
      }
  
      .equal-line:last-child {
        transform: rotate(-45deg);
        top: 45%;
      }
  
      .equal-line2:first-child {
        transform: rotate(45deg);
        top: 55%;
      }
  
      .equal-line2:last-child {
        transform: rotate(-45deg);
        top: 50%;
      }
    }

    #menu {
      position: absolute;
      background-color: #151515;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      height: 100vh;

      .title {
       font-size: 16px;
       font-weight: var(--semibold);
      }

      .desc {
        font-size: 14px;
        line-height: 17px;
      }

      .navigation-links {
        margin-top: 3em;

        ul {
          
          a  {
            font-weight: var(--bold);
            font-size: 40px;
            display: flex;
            align-items: center;

            span {
              color: var(--text-white);
              font-size: 14px;
              margin-right: 1em;
              margin-top: -1.2em;
            }
          }
        }
      }

    }
    
    #menu.active {
      opacity: 1;
      visibility: visible;
      height: 100vh;
    }

    .content {
      padding: 60px 50px;
      margin-bottom: 20px;

      li {
        margin-bottom: 8px;
      }
    }
  }

// Homepage
  
.logo img {
  width: 50px;
  margin: 16px;
}

.about, .hero h1, .previous-work, footer .description, footer .mobile-button-up, footer .desktop-button-up, .showcase-content-one, .showcase-content-two, .other-projects {
    margin: 16px;
}

.hero {
    margin: 3em 0 0;

    h1 {
        font-weight: var(--extrabold);
        font-size: var(--title-mobile);
    }

    .video-container {
        margin: 0 auto;
    
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 4/3;
        }
    }
}

.about {
    padding: 5em 1em;
    color: var(--text-white);
    font-size: 20px;
}

.previous-work, .other-projects, .all-projects {
    .projects {
        line-height: 26px;

        img {
            margin-bottom: .5em;
            transition: transform 0.3s ease, border-radius 0.3s ease;
        }

        img:hover {
          transform: scale(1.02);
          border-radius: 20px;
        }

        .description {
            color: var(--text-white);
            margin-bottom: 2em;
        }
    }
}

footer {
    .scroll-effect p {
        font-size: var(--contact-mobile);
        font-weight: var(--semibold);
        margin-bottom: .5em;
    }

    .description {
      position: absolute;
      z-index: -1;
    }

    .mobile-button-up {
        text-align: right;
        margin-top: 5em;
        
        img{
            background-color: #E36A0A;
            height: 100%;
            width: 30%;
            border-radius: 100%;
            margin: 6em 0 2em;
            padding: 1em;
        }
    }

    .desktop-button-up {
        ul {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5em;
            
            a {
                font-size: 18px;
                color: var(--text-white);
            }
        }

        img {
            display: none;
        }
    }
}


// showcase

.showcase-preview {
  display: flex;
  justify-content: center;

  .showcase-container {
    position: absolute;
    z-index: -1;
  
    img {
      height: 700px;
      object-fit: cover;
      z-index: 2;
    }
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgb(16,16,16);
      background: linear-gradient(0deg, rgb(16, 16, 16) 8%, rgba(16, 16, 16, 0.596) 100%);
    }
  }
}

.hero-showcase {
  margin: 6em 16px 4em;

  h1 {
    font-weight: var(--semibold);
    font-size: var(--title-mobile);
  }

  .hero-showcase-desc {
    line-height: 26px;
  }

  .project-information {
    margin-top: 12em;
  
    .description {
      margin-top: 1em;
  
      p {
        color: var(--text-white);
      }
    }
  }
}

.showcase-content-one {

  .information-one {
    margin: 6em 0;

    img {
      width: 12px;
      margin-right: 1em;
      margin-top: 18px;
    }

    .left, .right {
      display: flex;
      align-items: start;
      margin: 2em 0;

      .title {
        font-weight: var(--semibold);
        font-size: var(--showcase-information-title);
      }

      .desc {
        margin-top: 4px;
      }
    }
  }
}

.showcase-content-two {
  .content-information {
    margin: 6em 0;
  }
}

// Maps

.hero-maps {
  margin: 2em 16px 3em; 

  h1 {
    font-weight: var(--semibold);
    font-size: var(--title-mobile);
  }
}

.all-projects {
  margin: 0em 16px 2em;
}






.scroll-effect {
    width: 100%;
    overflow: hidden;
    color: white;

    p {
        white-space: nowrap;
        display: inline-block;
        animation: marquee 20s linear infinite;
        width: 100%;
        text-align: left;
    }

    @keyframes marquee {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
    }
}

@media only screen and (min-width: 768px) {

  .about, .hero h1, .previous-work, footer .description, footer .mobile-button-up, footer .desktop-button-up, .logo img, .showcase-content-one, .showcase-content-two, .other-projects, .all-projects, .hero-maps {
    margin: 32px;
  }
  
  .container{
    width: 550px;

    .circle {
      margin: 32px;
    }
    
    #menu, #menu.active {
      right: 32px;
      height: 460px;
      border-radius: 16px;
      top: 100px;
    }

    #menu .navigation-links ul a {
      font-size: 50px;
    }

    .content {
      padding: 80px;
    }
  }

  body {
    font-size: var(--normal-tablet);
  }

  .hero h1 {
    font-size: var(--title-tablet);
  }

  .about {
    padding: 5em 2em;
    font-size: var(--normal-tablet);
  }

  .previous-work, .other-projects, .all-projects {
    .projects {
      line-height: 38px;
    }
  }

  footer {
    .scroll-effect p {
      font-size: 100px;
    }
    
    .mobile-button-up {
      margin-top: 4em;
      
      img {
        margin: 6em 0 0em;
      }
    }

    .desktop-button-up ul a {
        font-size: var(--normal-tablet);
    }
  }

  // showcase

  .hero-showcase {
    margin: 2em 32px 0;

    .hero-showcase-desc {
      width: 700px;
      line-height: 38px;
    }

    .project-information {
      margin: 6em 0 3em;
    }
  }

  .showcase-content-one {
    .information-one {
      .left, .right {
        img {
          width: 16px;
          margin-top: 32px;
        }

        .title {
          font-size: var(--showcase-information-title-tablet);
        }
      }
    }
  }


  // Maps

  


}


@media only screen and (min-width: 1024px) {

  .about, .hero h1, .previous-work, footer .description, footer .mobile-button-up, footer .desktop-button-up, .showcase-content-one, .showcase-content-two, .other-projects, .all-projects, .hero-maps {
    margin: 0 80px;
  }

  .hero {
    .video-container video {
      aspect-ratio: 16/9;
    }
  }

  .container {
    width: 600px;

    .circle {
      width: 80px;
      height: 80px;
      margin: 32px 80px;

      .equal-line {
        left: 32%;
        height: 3px;
        width: 30px;
      }

      .equal-line2 {
        left: 32%;
        height: 3px;
        width: 30px;
      }
    }

    #menu, #menu.active {
      top: 150px;
      right: 78px;
    }
  }

  .logo img {
    width: 80px;
    margin: 32px 80px;
  }

  .previous-work {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 32px;
    grid-template-areas: 
      "project-1 project-1 project-1 project-2 project-2 project-2"
      ". project-3 project-3 project-3 project-3 ."
      "project-4 project-4 project-4 . . ."
      "project-5 project-5 project-5 project-5 project-6 project-6"
      ". . project-7 project-7 project-7 project-7";

    .projects {
      line-height: 20px;

      a img {
        height: 300px;
        width: 100%;
        object-fit: cover;
      }

      .title, .description {
        font-size: 16px;
      }
    }

    .project-one {
      grid-area: project-1;
    }

    .project-two {
      grid-area: project-2;
    }

    .project-three {
      grid-area: project-3;
    }

    .project-four {
      grid-area: project-4;
    }

    .project-five {
      grid-area: project-5;
    }

    .project-six {
      grid-area: project-6;
    }

    .project-seven {
      grid-area: project-7;
    }
  }

  .hero-showcase {
    margin: 2em 80px 0;

    .project-information {
      display: grid;
      grid-template-columns: 300px auto;
      align-items:first baseline;
    }
  }

  .showcase-content-one {
    .information-one {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .showcase-content-two {
    .content-images-two {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      grid-template-areas: 
      "image-1 image-2"
      "image-3 image-3"
    }

    .image-one {
      grid-area: image-1;
    }
    .image-two {
      grid-area: image-2;
    }
    .image-three {
      grid-area: image-3;
    }

    img {
      height: 400px;
      width: 100%;
      object-fit: cover;
    }

  }

  .other-projects {
    margin-top: 8em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .projects {
      line-height: 20px;

      .title, .description {
        font-size: 16px;
      }
    }
  }

  footer {
    .scroll-effect p {
      margin-bottom: 0;
    }

    .description {
      width: 800px;
      text-align: left;
      margin-top: .5em;
    }

    .mobile-button-up {
      display: none;
    }
  
    .desktop-button-up {
      display: flex;
      justify-content: space-between;
      
      ul {
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 0;

        li {
          margin-right: .5em;
        }
      }
  
      a img {
        display: block;
        background-color: #E36A0A;
        width: 200px;
        border-radius: 100%;
        margin: 7em 0 2em;
        padding: 1em;
        margin-left: auto;
      }
    }
  }

  // Maps

  .hero-maps {
    width: 600px;

    h1 {
      margin-bottom: .2em;
    }

    p {
      font-size: var(--maps-desc-mobile);
    }
  }

  .all-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 2em;

    .projects {
      line-height: 20px;

      .title, .description {
        font-size: 16px;
      }
    }
  }


}


@media only screen and (min-width: 1440px) {

  .about {
    padding: 80px 220px;
  }
  
  .previous-work .projects {
    line-height: 28px;

    a img {
      height: 400px;
      width: 100%;
      object-fit: cover;
    }

    .title, .description {
      font-size: 20px;
    }
  }

  
  
  footer {
    .description {
      margin-top: 20px;
    }
  
    .desktop-button-up {
      display: flex;
      justify-content: space-between;
      
      ul li {
          margin-right: 1em;
      }
  
      a img {
        width: 300px;
        margin: 6em 0 2em;
      }
    }
  }

  // showcase

  .showcase-preview {
    .showcase-container {
      img {
        height: 900px;
      }
    }
  }

  .hero-showcase {
    margin: 4em 5em 0;

    h1 {
      font-size: var(--title-desktop);
    }

    .hero-showcase-desc {
      width: 100%;
    }

    .project-information {
      grid-template-columns: 400px auto;
      margin: 10em 0 4em;
    }
  }

  .showcase-content-one {
    margin: 0 5em 0;
  }

  .showcase-content-two {
    .content-information {
      padding: 0 4em;
    }

    .content-images-two {
      gap: 20px;
    }
    
    img {
      height: 600px;
      width: 100%;
      object-fit: cover;
    }
  }

}

@media only screen and (min-width: 1920px) {

  .about, .hero h1, .previous-work, footer .mobile-button-up, footer .desktop-button-up, .all-projects, .hero-maps {
    width: 1640px;
    margin: 0 auto;
  }

  .logo-inside {
    width: 1800px;
    margin: 0 auto;
  }

  .container {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 1640px; /* Adjust the width as desired */

    .circle {
      margin: 0;
      padding: 0;
      top: 32px;
    }

    #menu, #menu.active {
      right: 0;
      width: 400px;
    }
  }

  .about {
    width: 900px;
    padding: 180px 0;
  }

  .previous-work {
    .projects {
      a img {
        height: 500px;
      }
    }
  }

  .showcase-preview {
    .showcase-container {
       img {
          width: 1920px;
       }
    }
  }

  .hero-showcase {
    margin: 4em 8em 0;
  }

  .showcase-content-one {
    margin: 0 8em 0;

    .information-one {
      margin: 6em 4em;
    }
  }

  .showcase-content-two {
    .content-information {
      padding: 0 7em;
    }
  }

  footer {
    .description {
      width: 1640px;
      margin: 0 auto;
      position: relative;

      p {
        width: 800px;
      }
    }

    .desktop-button-up {
      a img {
        margin-top: 0;
      }
    }
  }

  .hero-maps {
    margin-bottom: 2em;
    p {
      width: 700px;
    }
  }

}

@media only screen and (min-width: 2560px) {

  .hero {
    .video-container video {
      aspect-ratio: 21/9;
    }
  }

 .hero h1, .previous-work, footer, .content-images-two, .all-projects, .hero-maps {
    width: 2340px;
    margin: 0 auto;
  }

  .logo-inside {
    width: 2530px;
    margin: 0 auto;
  }

  .container {
    width: 2340px; /* Adjust the width as desired */
  }

  .about {
    width: 1400px;
    padding: 180px 0;
  }

  .previous-work {
    .projects {
      a img {
        height: 700px;
      }
    }
  }

  footer {
    .description {
      width: 1200px;
      margin: 0;
      text-align: left;
    }

    .desktop-button-up {
      width: 2340px;
      margin: 0 auto;
    }
  }

  .showcase-preview {
    .showcase-container {
       img {
          width: 2560px;
       }
    }
  }

  .hero-showcase, .showcase-content-one {
    width: 1900px;
    margin: 0 auto;
  }

  .showcase-content-one .information-one {
    width: 1200px;
    margin: 6em auto;
  }

  .showcase-content-two {
    width: 2560px;
    margin: 0 auto;

    .content-information {
      width: 1900px;
      margin: 6em auto;
    }

    img {
      height: 800px;
    }
  }

  .other-projects {
    width: 2340px;
    margin: 8em auto 0;
  }
}